#title_crew
	{
		height:auto;
		width:100px;
		background-color:#0072bc;
		color:white;
		font-size:28px;
		padding:5px;
		text-align:left;
		margin-bottom:10px;
	}
.member_position
	{
		height:auto;
		width:100px;
		background-color:#0072bc;
		color:white;
		font-size:28px;
		display:inline-block;
		text-align:center;
		margin-bottom:10px;
		margin-right:-5px;
		cursor:pointer;
		border:1px solid #0072bc;
	}
.member_position:hover
	{
		background-color:white;
		color:#0072bc;
	}
#crew_div
	{
		height:auto;
		width:auto;
		background-color:white;
	}
#members_area
	{
		width:auto;
		max-width:960px;
		margin:0 auto;
	}	
.member_area
	{
		height:105px;
		width:105px;
		background-color:#0072bc;
		display:inline-block;
		padding:8px;
		margin-right:-5px;
	}
.member_photo
	{
		height:105px;
		width:105px;
		background-color:white;
		display:inline-block;
	}